.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}

.review__like, .review__repost {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: text;
}

.review__like::before {
  content: '';
  display: inline-block;
  background: url(../img/icons/like.svg) no-repeat;
  width: 13px;
  height: 12px;
  margin-right: 5px;
}

.review__repost::before {
  content: '';
  display: inline-block;
  background: url(../img/icons/repost.svg) no-repeat;
  width: 13px;
  height: 12px;
  margin-right: 5px;
  margin-left: 20px;
}

.review__links {
  width: 61%;
  display: flex;
}

.review__links-active {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
  margin-right: 10px;
}

.review__all {
  color: #005DA1;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
}

.review__likeRepost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 17%;
}